.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
  padding: 1rem;

  .card {
    width: 95%;
    height: 95%;
    overflow: auto;
    border-radius: 0;
    position: relative;
  }
}

.overlay .card .header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #f4f5f6;
}

.back-button {
  transition: transform 0.2s ease;
}

.back-button:hover {
  transform: scale(1.2);
}
.edit-button {
  transition: transform 0.2s ease;
}

.edit-button:hover {
  transform: scale(1.2);
}

.body {
  max-width: 90%;
}

.body .info-row span {
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .overlay {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .card {
      max-width: 1100px;
      width: 95%;
      margin: 0 auto;
      max-height: 85vh;
      overflow-y: auto;
      overflow: auto;
      border-radius: 0;
    }
  }
  .body .info-row span {
    font-size: 1rem;
  }
}
